<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sock Finder</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chela+One&family=Suez+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Sock Finder</h1>

    <form
      id="userinp"
      action="{{ url_for('getResults') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="hero">
        <label for="input-file" id="drop-area">
          <input
            type="file"
            accept="image/*"
            id="input-file"
            name="userinp"
            hidden
          />
          <div id="img-view">
            <img src="../static/icon.png" />
            <p>Drag and drop or click here<br />to upload sock images</p>
            <span>Make sure sock is centered</span>
          </div>
        </label>
      </div>
      <input type="submit" value="Find Socks" id="getSocks" />
    </form>

    <p class="love">Made with 💙 in San Diego, CA</p>

    <script src="../static/script.js"></script>
  </body>
</html>
